.cards {
	max-width: 880px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
	column-gap: 17px;
	row-gap: 20px;
	margin: 50px auto 0;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
	.cards {
		margin: var(--mntop) auto 0;
	}
}
