.card__like-zone {
	max-width: 100%;
	min-height: 79px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 0 21px 0 21px;
	margin: 0;
}
