.card__button-delete {
	position: absolute;
	right: 20px;
	top: 20px;
	background-image: url(../../../images/basket_delete-card.svg);
	width: 18px;
	height: 19px;
	background-size: 18px 19px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	border: none;
	opacity: 1;
	transition: opacity 1s ease;
}

.card__button-delete:hover {
	opacity: 0.6;
}
