.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 40px auto 0;
	max-width: 880px;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
	.profile {
		margin: var(--mntop) auto 0;
		max-width: var(--width);
	}
}

@media screen and (max-width: 1010px) {
	.profile {
		flex-direction: column;
	}
}
