.profile__profession {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: calc(var(--fs));
	line-height: calc(var(--lh));
	color: #ffffff;
	margin: 16px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.profile__profession {
		margin: 14px 0 0;
	}
}
