.profile__button-edit {
	width: 24px;
	height: 24px;
	background-image: url(../../../images/edit-button.svg);
	border: 1px solid #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	margin-top: 4px;
	opacity: 1;
	transition: opacity 1s ease;
}

.profile__button-edit:hover {
	opacity: 0.6;
}
@media screen and (max-width: 767px) {
	.profile__button-edit {
		width: 18px;
		height: 18px;
		margin: 0;
	}
}
