.profile__name {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: calc(var(--fs));
	line-height: calc(var(--lh));
	color: #ffffff;
	margin: 0;
	display: block;
}

@media screen and (max-width: 767px) {
	.profile__name {
		margin: 26px 0 0;
	}
}
