.footer {
	max-width: 880px;
	margin: 66px auto 60px;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
	.footer {
		margin: var(--mntop) var(--mnright) var(--mnbot) var(--mnleft);
	}
}
